<!DOCTYPE HTML>
<html>
<head>
<title>vuejs demo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../css/mobiscroll.custom-2.17.0.min.css">
<style type="text/css">
    *{margin: 0;padding: 0;}
</style>
</head>
<body>
    <div id="body">
        请选择城市：
        <select id="select" v-model="selectValue">
            <template v-for="sl in selectList">
                <option :value="sl.value" v-text="sl.name"></option>
            </template>
        </select>
    </div>
<script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../js/flexible.js"></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/mobiscroll.custom-2.17.0.min.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#body',
        data: {
            selectValue: 1,
            selectList: [
                {name: "北京", value: 0},
                {name: "上海", value: 1},
                {name: "福建", value: 2}
            ]
        },
        mounted: function(){
            this.init();
        },
        methods: {
            init: function(){
                $('#select').mobiscroll().select({
                    theme: 'mobiscroll',
                    lang: 'zh',
                    display: 'bottom',
                    minWidth: 200,
                    buttons: []
                });
            }
        }
    });

</script>
</body>
</html>
